// VARIABLES

$color-red: #ed181e;
$header-height: 130px;
$container-width: 1000px;
$font-family: "Roboto", sans-serif;
$rupturePointWidth1: 900px;
$rupturePointWidth2: 650px;

// MIXIN
@mixin button {
    background-color: $color-red;
    color: white;
    padding: 5px;
    border: none;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
    border-radius: 10px;
    @media (max-width: $rupturePointWidth1) {
        height: 30px;
        font-size: 12px;
    }
}

// GLOBAL RULES

* {
    box-sizing: border-box;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 30px;
}

.background {
    background-image: url("../assets/avengers.jpeg");

    height: 100%;
}

h1 {
    color: Black;
    font-family: $font-family;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    padding: 20px 0 20px 20px;
    font-weight: 700;
}
