.header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/ciel-etoile.jpeg");
    background-size: 200vh;

    #back {
        position: fixed;
        width: 100%;

        background-color: black;
    }
    #logo {
        height: 50px;
    }
    button {
        @include button;
        margin: 10px;
        height: 50px;
        font-size: 20px;
    }
}
