.pages {
    text-align: center;
    z-index: auto;
    button {
        @include button;
        margin: 10px;
        padding: 10px;
    }
    span {
        font-family: $font-family;
        font-weight: 700;
        font-size: 20px;
        color: #17171b;
    }
}
