.searchBar {
    // width: 300px;
    display: flex;

    justify-content: center;

    input {
        width: 600px;
        padding: 20px;
        background-image: url("../assets/avengers.jpeg");
        color: white;
        background-position: center;
        border: none;
        font-size: 30px;
        font-weight: bold;
        &::placeholder {
            color: white;
            font-weight: lighter;
        }

        border-radius: 20px;
        // text-align: center;
    }
}
